body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1E1E1E;
}
.main {
    margin: 0;
    padding: 15px;
}
.navlist {
    display: flex;
    gap: 25px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C2F33;
    padding: 10px 0;
}
.navitem {
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar .navlink {
    color: #fff;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.navbar .navlink:hover {
  background-color: #575757; 
  color: #00D4FF;            
  transform: translateY(-3px) scale(1.1);     
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.header {
    text-align: center;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    background-image: url('images/headerimage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    color: white;
}
.heading {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
}
.headingtext {
    color: #00D4FF;
    text-decoration: underline;
}
.content {
    padding: 20px;
    color: white;
}
.section {
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: -3px -3px 7px #E6E6E6;
}
.contenttext {
    font-size: 19px;
}
.listitems {
    margin-bottom: 10px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #1A1F24;
    color: #00D4FF;
    width: 100%;
    bottom: 0;
}